@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

* {
	box-sizing: border-box;
	transition: all .4s ease-in-out;
}

article {
	max-width: 1400px;
	width: 90%;
	background-color: #fff;
	box-shadow: 0 0 35px 0 #00000033;
	margin: 130px auto 130px;
	padding: 130px;
}

h1 {
	font-size: 42px;
	font-family: 'Playfair Display', serif;
}

p:first-of-type::first-letter {
	font-size: 110px;
	float: left;
	font-family: 'Playfair Display', serif;
	line-height: 34px;
	padding-bottom: 20px;
	vertical-align: bottom;
	padding-top: 25px;
	padding-right: 30px;
}

p {
	font-size: 18px;
	text-align: justify;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	line-height: 34px;
}

blockquote {
	font-size: 24px;
	font-style: italic;
	line-height: 34px;
	margin-left: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 300;

}

button {
	width: 270px;
	height: 70px;
	color: #eaa258;
	border: 2px solid #eaa258;
	background-color: #fff;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	letter-spacing: 3px;
	text-transform: uppercase;
}

 blockquote::before {
 	content: '\0022';
	font-size: 60px;
	line-height: 40px;
	font-style: italic;
	font-weight: normal;
	margin-right: 25px;
} 

button:hover {
	background: #eaa258;
	color: #fff;
	cursor: pointer;
}

